/*-------------*/
/* BASIC SETUP */
/*-------------*/
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body  {
    color: #555555;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

/*-------------*/
/* USED TO MAINTAIN LAYOUTS */
/*-------------*/

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------*/
/* REUSABLE COMPONENTS */
/*-------------*/

.row	{
	width: 1200px;
	margin: 0 auto;
}

section {
    padding-top: 70px;
}

/* HEADINGS */

h1  {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    font-size: 240%;
}

h2	{
	font-size: 270%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 100px;
}

h3	{
    position: relative;
	font-size: 200%;
	text-transform: none;
	text-align: center;
	text-decoration: underline;
}

h4  {
    position: relative;
    font-size: 150%;
    text-transform: none;
    text-align: center;
}

/* Thank you form */

h5  {
    position: relative;
    font-size: 200%;
    text-transform: capitalize;
    text-align: center;
}

/*-------------*/
/* HEADER */
/*-------------*/

header  {
    height: 110px;
    background-color: #444;
}

.mainlogo   {
    width: 3%;
    height: auto;
    margin: 25px;
}

.main-nav {

	float: right;
	list-style: none;
    margin-top: 35px;
    font-size: 25px;
    margin-right: 25px;

}

.main-nav li {

	display: inline-block;
    margin-left: 40px;
    margin-right: 25px;
}

.main-nav li a:link, 
.main-nav li a:visited {
padding: 8px 0;
color: #ddd;
text-decoration: none;
text-transform: uppercase;
font-size: 90%;
border-bottom: 2px  solid transparent;
transition: border-bottom 0.3s, color 0.3s;
}

.main-nav li a:hover, 
.main-nav li a:active {
border-bottom: 2px solid #00cc00;
}

/*-------------*/
/* SIGNUP FORM */
/*-------------*/

.form-content    {
    padding: 20px 150px;
}

.verify-button    {
    padding: 10px 40px;
    background-color: rgb(123, 241, 148);
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-style: none;
}

.signup {
    width: 1200px;
    height: 900px;
    position: absolute;
    left: 20%;
    top: 25%;
}

.signup h3  {
    text-decoration: none;
}

.small-break    {
    margin-bottom: 30px;
}

.capitalise {
    text-transform: capitalize;
}

.submit-button  {
    padding: 10px 25px;
    background-color: rgb(55, 118, 236);
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-style: none;
}


/*####################################*/
  /*  CLASSES FOR THANK YOU PAGE */
/*####################################*/

.thank-you-first-para,
.thank-you-second-para   {
    padding: 100px 100px 70px 100px;
}

